<h2>Park Checklist</h2>
<div class="table-responsive row">
  <table id="checklist" class="table-hover table-bordered col-sm-12">
    <thead>
      <th>Parks Visited</th>
      <th>Number of Visits</th>
    </thead>
    <!-- checklist is array of objects  -->
    <p>You have visited {{cc.checklist.length}} of the 67 State Parks. You have {{ 67 - cc.checklist.length }} parks yet to visit.</p>
    <tbody id='table-body' ng-repeat="parks in cc.checklist" n>
      <td ng-model="parks.park">{{parks.park}}</td>
      <td g-model="parks.visits">{{parks.visits}}</td>
    </tbody>
  </table>
</div>
