<div id="parkCounter">
  <p>
    You have visited <strong>{{cc.checklist.length}} </strong>of the 67 State Parks.<br>
    You have <strong> {{ 67 - cc.checklist.length }} </strong> parks yet to visit.
  </p>
</div>

<div>
  <table id="checklist" class="table-responsive table-hover">
    <thead>
      <tr>
        <th >Parks Visited</th>
        <th >Visits</th>
      </tr>
    </thead>
    <tbody id='table-body' ng-repeat="parks in cc.checklist">
      <tr>
        <td ng-model="parks.park">{{parks.park}}</td>
        <td ng-model="parks.visits">{{parks.visits}}</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  body {
    text-align: center;
      background: url(/public/assets/images/water.JPG) no-repeat center center fixed;
      background-size: cover;
  }
</style>
