<!-- <header ng-controller="NavController as nc">
  <nav class="navbar navbar-inverse navbar-fixed-top" ng-show="nc.displayLogout">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Wild Minnesota</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="#home">Home</a></li>
          <li class=""><a href="#journal">My Journal</a></p>
          <li class=""><a href="#checklist">My Park Checklist</a></p>
          <li class=""><a href="#" ng-click="nc.logout()">Logout <span id="username">{{nc.username}}</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->
