<section id="journalSubmission">
  <h2>Add a Journal Entry</h2>

  <form class="form" id="journalForm" name="journalForm">
    <div class="row">
      <div class="form-group col-xs-5 col-xs-offset-1">
        <label for="date">Date:</label>
        <input class="form-control" type="date" id="date" name="date" ng-model="jc.journalEntry.date" ng-focus="date=true" ng-blur="date=false" required/>
        <span style="color:white" ng-show="journalForm.date.$invalid">
          <span ng-show="journalForm.$invalid && date==true">Date is required.</span>
        </span>
      </div>
      <div class="form-group col-xs-5">
        <div ng-include="'public/views/parkSelect.html'"></div>
        <span style="color:white" ng-show="journalForm.notes.$invalid">
          <span ng-show="journalForm.$invalid && park==true">Park is required.</span>
        </span>
      </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-10 col-xs-offset-1 journalNotes">
          <label for="notes">Chronicle your adventures:</label>
          <textarea placeholder="What did you do? What did you see?" type="text" class="form-control" rows="5" name="notes" ng-model="jc.journalEntry.notes" ng-focus="notes=true" ng-blur="notes=false" onkeyup="auto_grow(this)" required></textarea>
          <span style="color:white" ng-show="journalForm.notes.$invalid">
            <span ng-show="journalForm.$invalid && notes==true">Journal entry is required.</span>
          </span>
          <button data-tooltip="Add Journal Entry" class="btn btn-primary tooltip-right" ng-click="jc.addJournalEntry(jc.journalEntry)" ng-disabled="journalForm.$invalid"><i class="fa fa-plus"></i></button>
        </div>
    </div>
  </form>

<!-- TODO add ability to add pictures for specific journal entry -->
  <!-- <div class="row imageUpload">
    <button class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 800, height: 800}"><i class="fa fa-search-plus"></i> Select Image</button>
    <span> {{file.$ngfName}} </span>
    <img ngf-thumbnail="file || '/public/assets/upload1.png'">
    <input type="text" ng-model="comment" placeholder="Add details..."/>
    <button class="btn btn-primary" ng-click="submit()"><i class="fa fa-cloud-upload"></i> Upload</button>
  </div> -->

</section>
<style>
  body {
    text-align: center;
      background: url(/public/assets/wildriver.jpeg) no-repeat center center fixed;
      background-size: cover;
  }
</style>
