<h2>Journal</h2>

<main class="container" ng-controller="JournalController as jc">

  <section id="journalSubmission" class="row">
    <h2>Add a Journal Entry</h2>
    <form id="journalForm">
      <div class="row">
        <div class="two columns">
          <label for="currentEntryPark">Park:</label>
          <input type="text" id="currentEntryPark" name="park" ng-model="jc.journalEntry.park" />
        </div>
        <div class="two columns">
          <label for="currentEntryDate">Date:</label>
          <input type="text" id="currentEntryDate" name="date" ng-model="jc.journalEntry.date"/>
        </div>
        <div class="two columns">
          <label for="currentEntryNotes">Notes:</label>
          <input type="text" id="currentEntryNotes" name="notes" ng-model="jc.journalEntry.notes"/>
          <button ng-click="jc.addJournalEntry(jc.journalEntry)">Submit</button>
        </div>
      </div>
    </form>
  </section>

  <section id="journalEntries" class="row">
    <h2>My Journal</h2>
    <select ng-model="jc.sortBy" ng-dropdown >
      <option ng-option value=''>ID</option>
      <option ng-option value="park">Park</option>
      <option ng-option value="date">Date</option>
    </select>
    <div id="journalList">
      <div class="row">
        <div class="two columns">
          <label for="park">Park:</label>
        </div>
        <div class="two columns">
          <label for="date">Date:</label>
        </div>
        <div class="two columns">
          <label for="notes">Notes:</label>
        </div>
      </div>

      <div class="row" ng-repeat="journalEntry in jc.journalList | orderBy: jc.sortBy" > <!-- repeating people list to display each item from database, adding ability to sort -->
      <!-- <div class="row" ng-repeat="journalEntry in jc.journalList"> -->
        <div class="two columns">
          <input type="text" id="park" name="park" value="{{journalEntry.park}}" ng-model="journalEntry.park"/>
        </div>
        <div class="two columns">
          <input type="text" id="date" name="date" value="{{journalEntry.date}}" ng-model="journalEntry.date"/>
        </div>
        <div class="six columns b">
          <input type="text" id="notes" name="notes" value="{{journalEntry.notes}}" ng-model="journalEntry.notes"/>
          <button class="update" ng-click="jc.updateJournalEntry(journalEntry._id, jc.journalList[$index])">Update</button>
          <button class="delete" ng-click="jc.deleteJournalEntry(journalEntry._id)">Delete</button>
        </div>
      </div>
    </div>
  </section>

</main>
