<h2>Journal</h2>
<section class="container">
  <section id="journalSubmission" class="row">
    <h2>Add a Journal Entry</h2>
    <form class="form" id="journalForm">
      <div class="row">
        <div class="form-group col-sm-3">
          <label for="currentEntryDate">Date:</label>
          <input class="form-control" type="date" id="currentEntryDate" name="date" ng-model="jc.journalEntry.date" required/>
        </div>

        <div class="form-group col-sm-3">
          <label for="currentEntryPark">Park:</label>
          <select class="form-control" ng-model="jc.journalEntry.park" ng-dropdown required>
                <option>Itasca</option>
                <option>Afton</option>
                <option>Banning</option>
                <option>Bear Head Lake</option>
                <option>Beaver Creek Valley</option>
                <option>Big Stone Lake</option>
                <option>Blue Mounds</option>
                <option>Buffalo River</option>
                <option>Camden</option>
                <option>Carley</option>
                <option>Cascade River</option>
                <option>Charles A. Lindbergh</option>
                <option>Crow Wing</option>
                <option>Father Hennepin</option>
                <option>Flandrau</option>
                <option>Forestville/Mystery Cave</option>
                <option>Fort Ridgely</option>
                <option>Fort Snelling</option>
                <option>Franz Jevne</option>
                <option>Frontenac</option>
                <option>George H. Crosby Manitou</option>
                <option>Glacial Lakes</option>
                <option>Glendalough</option>
                <option>Gooseberry Falls</option>
                <option>Grand Portage</option>
                <option>Great River Bluffs</option>
                <option>Hays Lake</option>
                <option>Hill Annex Mine</option>
                <option>Interstate</option>
                <option>Jay Cooke</option>
                <option>Jay Cooke</option>
                <option>John A. Latsch</option>
                <option>Judge C.R. Magney</option>
                <option>Kilen Woods</option>
                <option>Lac qui Parle</option>
                <option>Lake Bemidji</option>
                <option>Lake Bronson</option>
                <option>Lake Carlos</option>
                <option>Lake Louise</option>
                <option>Lake Maria</option>
                <option>Lake Shetek</option>
                <option>Lake Vermilion-Soudan Underground Mine</option>
                <option>Maplewood</option>
                <option>McCarthy Beach</option>
                <option>Mille Lacs Kathio</option>
                <option>Minneopa</option>
                <option>Monson Lake</option>
                <option>Moose Lake</option>
                <option>Myre - Big Island</option>
                <option>Nerstrand Big Woods</option>
                <option>Old Mill</option>
                <option>Rice Lake</option>
                <option>St. Croix</option>
                <option>Sakatah</option>
                <option>Savanna Portage</option>
                <option>Scenic</option>
                <option>Schoolcraft</option>
                <option>Sibley</option>
                <option>Split Rock Creek</option>
                <option>Split Rock Lightjouse</option>
                <option>Temperance River</option>
                <option>Tettegouche</option>
                <option>Upper Sioux Agency</option>
                <option>Whitewater</option>
                <option>Wild River</option>
                <option>William O'Brien</option>
                <option>Zippel Bay</option>
              </select>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <label for="currentEntryNotes">Notes:</label>
            <input class="form-control" type="text" id="currentEntryNotes" name="notes" ng-model="jc.journalEntry.notes" required/>
            <button ng-click="jc.addJournalEntry(jc.journalEntry)">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </section>


  <div id="myJournal">
    <select ng-model="jc.sortBy" ng-dropdown>
          <option ng-option value="park">Park</option>
          <option ng-option value="date">Date</option>
        </select>

    <div id="journalEntry" ng-repeat="journalEntry in jc.journalList | orderBy: jc.sortBy">

      <div class="row">
        <div class="col-sm-6">
          <p ng-model="journalEntry.park">{{journalEntry.park}}</p>
        </div>
        <div class="col-sm-6">
          <p ng-model="journalEntry.date" />{{journalEntry.date | date:'fullDate'}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <input class="form-control" type="text" id="notes" name="notes" value="{{journalEntry.notes}}" ng-model="journalEntry.notes" />
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-info" ng-click="jc.updateJournalEntry(journalEntry._id, jc.journalList[$index])">Update</button>
            <button class="btn btn-warning" ng-click="jc.deleteJournalEntry(journalEntry._id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
