
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00181_summer.pdf">Itasca</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00100_summer.pdf">Afton</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00103_summer.pdf">Banning</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00109.pdf">Bear Head Lake</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00112_summer.pdf">Beaver Creek Valley</a></li>
      <!-- TODO need to correct links -->
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Big Stone Lake</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Blue Mounds</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Buffalo River</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Camden</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Carley</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Cascade River</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Charles A. Lindbergh</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Crow Wing</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Father Hennepin</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Flandrau</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Forestville/Mystery Cave</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Fort Ridgely</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">For Snelling</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Franz Jevne</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Frontenac</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">George H. Crosby Manitou</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Glacial Lakes</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Glendalough</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Gooseberry Falls</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Grand Portage</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Great River Bluffs</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Hays Lake</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Hill Annex Mine</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Interstate</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Jay Cooke</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">John A. Latsch</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Judge. C.R. Magney</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Kilen Woods</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Lac qui Parle</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Lake Bemidji</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Lake Bronson</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Lake Carlos</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Lake Louise</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Lake Maria</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Lake Shetek</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Lake Vermilion-Soudan Underground Mine</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Maplewood</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">McCarthy Beach</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Mille Lacs Kathio</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Minneopa</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Monson Lake</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Moose Lake</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Myre - Big Island</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Nerstrand Big Woods</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Old Mill</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Rice Lake</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">St. Croix</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Sakatah</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Savanna Portage</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Scenic</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Schoolcraft</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Sibley</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Split Rock Creek</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Split Rock Lighthouse</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Temperance River</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Tettegouche</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Upper Sioux Agency</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Whitewater</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Wild River</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">William O'Brien</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://files.dnr.state.mn.us/maps/state_parks/spk00217_summer.pdf">Zippel Bay</a></li>
