<div id="myJournal">
  <h2>My Journal</h2>
  <div id="journalSort">
    <label>Sort By: </label>
    <select ng-model="jc.sortBy" ng-dropdown>
          <option ng-option value="park">Park</option>
          <option ng-option value="date">Date</option>
    </select>
  </div>
  <div id="journalEntry" ng-repeat="journalEntry in jc.journalList | orderBy: jc.sortBy">
    <div class="row">
      <div class="col-xs-6">
        <p class="journalPark" ng-model="journalEntry.park">{{journalEntry.park}}</p>
      </div>
      <div class="col-xs-6">
        <p class="journalDate" ng-model="journalEntry.date"/>{{journalEntry.date | date:'fullDate'}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 journalNotes">
        <textarea type="text" onmouseover="auto_grow(this)"  onkeyup="auto_grow(this)" id="journalNotes" class="form-control" name="notes" value="{{journalEntry.notes}}" ng-model="journalEntry.notes"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success btn-sm" ng-click="jc.updateJournalEntry(journalEntry._id, jc.journalList[$index])"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger btn-sm" ng-click="jc.deleteJournalEntry(journalEntry._id, journalEntry.park)"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    text-align: center;
      background: url(/public/assets/gijikiki2.JPG) no-repeat center center fixed;
      background-size: cover;
  }
</style>
