<label for="currentEntryPark">Park:</label>
<select class="form-control" ng-model="jc.journalEntry.park" ng-dropdown ng-focus="park=true" ng-blur="park=false" required>
      <option>Itasca</option>
      <option>Afton</option>
      <option>Banning</option>
      <option>Bear Head Lake</option>
      <option>Beaver Creek Valley</option>
      <option>Big Stone Lake</option>
      <option>Blue Mounds</option>
      <option>Buffalo River</option>
      <option>Camden</option>
      <option>Carley</option>
      <option>Cascade River</option>
      <option>Charles A. Lindbergh</option>
      <option>Crow Wing</option>
      <option>Father Hennepin</option>
      <option>Flandrau</option>
      <option>Forestville/Mystery Cave</option>
      <option>Fort Ridgely</option>
      <option>Fort Snelling</option>
      <option>Franz Jevne</option>
      <option>Frontenac</option>
      <option>George H. Crosby Manitou</option>
      <option>Glacial Lakes</option>
      <option>Glendalough</option>
      <option>Gooseberry Falls</option>
      <option>Grand Portage</option>
      <option>Great River Bluffs</option>
      <option>Hays Lake</option>
      <option>Hill Annex Mine</option>
      <option>Interstate</option>
      <option>Jay Cooke</option>
      <option>Jay Cooke</option>
      <option>John A. Latsch</option>
      <option>Judge C.R. Magney</option>
      <option>Kilen Woods</option>
      <option>Lac qui Parle</option>
      <option>Lake Bemidji</option>
      <option>Lake Bronson</option>
      <option>Lake Carlos</option>
      <option>Lake Louise</option>
      <option>Lake Maria</option>
      <option>Lake Shetek</option>
      <option>Lake Vermilion-Soudan Underground Mine</option>
      <option>Maplewood</option>
      <option>McCarthy Beach</option>
      <option>Mille Lacs Kathio</option>
      <option>Minneopa</option>
      <option>Monson Lake</option>
      <option>Moose Lake</option>
      <option>Myre - Big Island</option>
      <option>Nerstrand Big Woods</option>
      <option>Old Mill</option>
      <option>Rice Lake</option>
      <option>St. Croix</option>
      <option>Sakatah</option>
      <option>Savanna Portage</option>
      <option>Scenic</option>
      <option>Schoolcraft</option>
      <option>Sibley</option>
      <option>Split Rock Creek</option>
      <option>Split Rock Lighthouse</option>
      <option>Temperance River</option>
      <option>Tettegouche</option>
      <option>Upper Sioux Agency</option>
      <option>Whitewater</option>
      <option>Wild River</option>
      <option>William O'Brien</option>
      <option>Zippel Bay</option>
    </select>
