<select ng-model="wc.location" ng-dropdown ng-change="wc.searchWeather(wc.location)">
  <option value="47.1975, -95.20167">Itasca</option>
  <option value="44.8624675, -92.7835367">Afton</option>
  <option value="46.1735, -92.8497">Banning</option>
  <option value="47.796305, -92.076823">Bear Head Lake</option>
  <option value="43.6427458, -91.5818101">Beaver Creek Valley</option>
  <option value="45.3824644, -96.5131148">Big Stone Lake</option>
  <option value="43.7069134, -96.1869728">Blue Mounds</option>
  <option value="46.8655165, -96.4678474">Buffalo River</option>
  <option value="44.362462, -95.925025">Camden</option>
  <option value="44.116632, -92.176">Carley</option>
  <option value="47.709722, -90.522222">Cascade River</option>
  <option value="45.958855, -94.395281">Charles A. Lindbergh</option>
  <option value="46.272222, -94.333333">Crow Wing</option>
  <option value="46.144678, -93.488016">Father Hennepin</option>
  <option value="44.288296, -94.473584">Flandrau</option>
  <option value="43.62552, -92.247388">Forestville/Mystery Cave</option>
  <option value="44.452462, -94.73082">Fort Ridgely</option>
  <option value="44.885799, -93.177999">Fort Snelling</option>
  <option value="48.64224, -94.08041">Franz Jevne</option>
  <option value="44.507468, -92.326291">Frontenac</option>
  <option value="47.506018, -91.109045">George H. Crosby Manitou</option>
  <option value="45.537461, -95.521983">Glacial Lakes</option>
  <option value="46.333333, -95.666667">Glendalough</option>
  <option value="47.146872, -91.463229">Gooseberry Falls</option>
  <option value="48.010163, -89.612032">Grand Portage</option>
  <option value="43.946353, -91.399309">Great River Bluffs</option>
  <option value="48.623309, -95.507753">Hays Lake</option>
  <option value="47.32749, -93.27752">Hill-Annex Mine</option>
  <option value="45.394962, -92.669652">Interstate</option>
  <option value="46.649665, -92.330748">Jay Cooke</option>
  <option value="44.161908, -91.8221">John A. Latsch</option>
  <option value="47.85128, -90.05843">Judge C.R. Magney</option>
  <option value="43.726624, -95.063047">Kilen Woods</option>
  <option value="45.020514, -95.888921">Lac qui Parle</option>
  <option value="47.536341, -94.82277">Lake Bemidji</option>
  <option value="48.7247, -96.603374">Lake Bronson</option>
  <option value="45.986629, -95.327814">Lake Carlos</option>
  <option value="43.533576, -92.525454">Lake Louise</option>
  <option value="45.313854, -93.9572">Lake Maria</option>
  <option value="44.102184, -95.690011">Lake Shetek</option>
  <option value="47.83471, -92.19812">Lake Vermilion-Soudan Underground Mine</option>
  <option value="46.53357, -95.949219">Maplewood</option>
  <option value="47.672707, -93.030183">McCarthy Beach</option>
  <option value="46.128849, -93.740527">Mille Lacs Kathio</option>
  <option value="44.162188, -94.10218">Minneopa</option>
  <option value="45.320518, -95.275024">Monson Lake</option>
  <option value="46.436319, -92.72521">Moose Lake</option>
  <option value="43.623847, -93.289096">Myre - Big Island</option>
  <option value="44.345243, -93.107434">Nerstrand Big Woods</option>
  <option value="48.361364, -96.570329">Old Mill</option>
  <option value="48.361364, -96.570329">Rice Lake</option>
  <option value="45.974115, -92.58353">St. Croix</option>
  <option value="44.221075, -93.535779">Sakatah</option>
  <option value="46.837446, -93.156605">Savanna Portage</option>
  <option value="47.715773, -93.56297">Scenic</option>
  <option value="47.22495, -93.799945">Schoolcraft</option>
  <option value="45.319687, -95.02307">Sibley</option>
  <option value="43.898026, -96.364203">Split Rock Creek</option>
  <option value="47.192147, -91.392948">Split Rock Lighthouse</option>
  <option value="47.554347, -90.872372">Temperance River</option>
  <option value="47.358806, -91.264051">Tettegouche</option>
  <option value="44.738013, -95.453904">Upper Sioux Agency</option>
  <option value="44.058297, -92.058773">Whitewater</option>
  <option value="45.568016, -92.87577">Wild River</option>
  <option value="45.219411, -92.766042">William O'Brien</option>
  <option value="48.863874, -94.859386">Zippel Bay</option>
</select>
