<div id="tripPlanner">
  <h2>Select A Park To View Weather Forecast And Park Brochure</h2>
  <div ng-include="'public/views/parkSelectLL.html'"></div>
  <img src="/public/assets/images/mnParks.jpg" />
</div>

<h3>Weather Forecast</h3>
<div id="weatherTable" class="row" ng-repeat="wa in wc.weather">
  <div class="col-xs-3 weatherBox">
    <p ng-model="wa.day"><strong>{{wa.day | date:'EEEE, MMMM dd'}}</strong></p>
    <p ng-model="wa.icon"><i class="wi wi-forecast-io-{{wa.icon}}"></i></p>
    <p ng-model="wa.summary"><em>{{wa.summary}}</em></p>
    <p ng-model="wa.temperatureMax">High: <strong>{{wa.temperatureMax | number:0}}</strong>°F</p>
    <p ng-model="wa.temperatureMin">Low: <strong>{{wa.temperatureMin | number:0}}</strong>°F</p>
    <p ng-model="wa.precipProbability">Precipitation: {{wa.precipProbability * 100 | number:0}}% chance</p>
  </div>
</div>

<!-- TODO: Put maps in assets so heroku will allow and decrease load time  -->
<!-- <div id="parkMaps" ng-include="'public/views/parkMaps.html'"></div> -->

<!-- google distance matrix api -->
<!-- <div class="googleDistance">
  <div id="right-panel">
    <div id="inputs">
    </div>
    <div id="output"></div>
  </div>
  <div id="map"></div>
</div> -->

<style>
  body {
    background-color: #d6dbe0;
  }
</style>
