/* checklist styles */
#parkCounter {
  font-size: 20px;
  margin: 120px auto 40px;
  padding: 5px;
  color: ghostwhite;
  background-color: #425669;
  opacity: 0.9;
  display: inline-block;
  letter-spacing: 2px;
  transition: all 1s ease;
}

#parkCounter:hover {
  background-color: ghostwhite;
  color: #2D4557;
  transform:scale(1.3);
}

#parkCounter strong {
  color: lightgray;
  font-size: 1.2em
}

#parkCounter:hover strong {
  color: black;
}

#checklist {
  letter-spacing: 1.2px;
  padding: 10px;
  background-color: #425669;
  opacity: .9;
  display: inline-block;
  border: none;
  color: ghostwhite;
}

#checklist tbody tr:hover {
  color: #2D4557;
  background-color: ghostwhite;
}

#checklist th {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 20px;
  font-style: bold;
}

#checklist td {
  padding: 20px;
}
