/* checklist styles */
#parkCounter {
  font-size: 20px;
  margin: 40px;
  color: ghostwhite;
}

#checklist {
  margin: 100px;
  padding: 10px;
  background-color: #425669;
  opacity: .9;
  display: inline-block;
  border: none;
  color: ghostwhite;
}

th {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 20px;
  font-style: bold;
}

td {
  padding: 20px;
}
