/* journal styles*/
#journalSubmission {
  color: ghostwhite;
  margin-top: 160px;
  padding: 0px;
  background-color: #434C4E;
  opacity: 0.9;
  display: inline-block;
}

#journalSubmission button {
  margin: 10px;
}

.imageUpload input {
  color: black;
}

#myJournal {
  color: #797218;
  margin: 100px auto;
  max-width: 600px;
  background-color: #B5BDB6;
  opacity: 0.9;

}

#myJournal h2 {
  padding: 40px;
}

#myJournal button {
    margin: 10px;
    background-color: #594256;
    border: none;
}

#journalEntry {
  border-bottom: 1px solid gray;
  padding: 50px;
}

.journalNotes {
  resize: none;
  overflow: hidden;
  min-height: 50px;
}

.journalPark {
  font-size: 1.5em;
}

.journalDate {
  font-size: 1.2em;
}

.journalNotes textarea[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.journalNotes textarea[type="text"]:focus,
.journalNotes textarea[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
