/* photo album styles*/
#myPhotos {
  margin-top: 120px;
}

#picDisplay {
  display: inline-block;
  border: .1px dotted gray;
  background-color: #c0c5c9;
}

.picFrame {
  max-height: 200px;
  margin: 10px;
  border: white 5px solid;
  filter: brightness(80%);
}

.picFrame:hover {
  filter: none;
}

.imageUpload {
  margin: 40px;
}

.imageUpload span, img, input {
  margin-right: 10px;
}


/* attempt to allow thumbnails to be displayed in popups*/
/*.thumbnail  {
	position: relative;
}

.thumbnail span {
  visibility: hidden;
	position: absolute;
}

.thumbnail:hover span {
	visibility: visible;

}

.popup {
  margin-top: 100px;
  max-height: 400px;
}*/
