body {
  text-align: center;
}

.nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#username {
  padding: 15px 0 15px;
}

#googleLogin {
  margin-top: 100px
}

#journalEntry {
  margin: 40px 0 0 0;
  border: 1px solid gray;
}

#myJournal {
  margin: 50px;
}
