#tripPlanner {
  margin: 100px 0 40px;
}

#tripPlanner h2, #tripPlanner div {
  margin-bottom: 40px;
}

#tripPlanner img {
  height: 600px;
  width: auto;
}

/*#weatherTable {
  margin: 50px auto 50px;
}

table, #weatherTable, #weatherTable th, #weatherTable td {
  border: 1px solid black;
}

#weatherTable caption {
  font-size: 1.5em;
  color: black;
}

#weatherTable th {
  text-align: center;
  padding: 20px;
  font-style: bold;
  font-size: 1.2em;
}

#weatherTable td {
  padding: 20px;
}*/

#parkMaps {
  margin-bottom: 100px
}

#weatherTable {
  display: inline-block;
}

.weatherBox {
  margin: 25px;
  height: 250px;
  width: 220px;
  border: 2px solid black;
  transition: all 1s ease;
}

.weatherBox:hover {
     transform:scale(1.1);
     background-color: white;
}

.weatherBox p strong {
  font-size: 1.3em;
}

.wi {
  font-size: 2.5em;
}
